@import "~antd/dist/antd.css";
.logoantd {
  height: auto;
  //background: rgba(255, 255, 255, 0.2);
  background: "#001529";
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #1890ff;
}

.site-layout-background {
  background: #fff;
}
