.arrow-status-1 {
    background: #29b6f6;
    width: 150px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .arrow-status-1:before,
  .arrow-status-1:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  .arrow-status-1:before {
    border-bottom: 20px solid #29b6f6;
    border-left: 20px solid transparent;
    border-top: 20px solid #29b6f6;
    left: -20px;
  }
  .arrow-status-1:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #29b6f6;
    border-top: 20px solid transparent;
    right: -20px;
  }
  /* da duyet */
  .arrow-status-3 {
    background: #43a047;
    width: 150px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .arrow-status-3:before,
  .arrow-status-3:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  .arrow-status-3:before {
    border-bottom: 20px solid #43a047;
    border-left: 20px solid transparent;
    border-top: 20px solid #43a047;
    left: -20px;
  }
  .arrow-status-3:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #43a047;
    border-top: 20px solid transparent;
    right: -20px;
  }
  /* hoan thanh */
  .arrow-status-4 {
    background: #00695c;
    width: 150px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .arrow-status-4:before,
  .arrow-status-4:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  .arrow-status-4:before {
    border-bottom: 20px solid #00695c;
    border-left: 20px solid transparent;
    border-top: 20px solid #00695c;
    left: -20px;
  }
  .arrow-status-4:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #00695c;
    border-top: 20px solid transparent;
    right: -20px;
  }
  /* doi duyet */
  .arrow-status-2 {
    background: #f57c00;
    width: 150px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .arrow-status-2:before,
  .arrow-status-2:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  .arrow-status-2:before {
    border-bottom: 20px solid #f57c00;
    border-left: 20px solid transparent;
    border-top: 20px solid #f57c00;
    left: -20px;
  }
  .arrow-status-2:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f57c00;
    border-top: 20px solid transparent;
    right: -20px;
  }
  /* xoa */
  .arrow-status-20 {
    background: #e53935;
    width: 150px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .arrow-status-20:before,
  .arrow-status-20:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  .arrow-status-20:before {
    border-bottom: 20px solid #e53935;
    border-left: 20px solid transparent;
    border-top: 20px solid #e53935;
    left: -20px;
  }
  .arrow-status-20:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #e53935;
    border-top: 20px solid transparent;
    right: -20px;
  }
  /* tu choi */
  .arrow-status-10 {
    background: #959595;
    width: 150px;
    color: black;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .arrow-status-10:before,
  .arrow-status-10:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
  .arrow-status-10:before {
    border-bottom: 20px solid #959595;
    border-left: 20px solid transparent;
    border-top: 20px solid #959595;
    left: -20px;
  }
  .arrow-status-10:after {
    border-bottom: 20px solid transparent;
    border-left: 20px solid #959595;
    border-top: 20px solid transparent;
    right: -20px;
  }
  .go-back-list:hover {
    color: #29b6f6 !important;
  }
  